
* {
    font-size: 20px;
}

.profilePicLarge {
    /*cite: https://www.w3schools.com/howto/howto_css_image_avatar.asp*/
    vertical-align: middle;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding: 25px;
    border-radius: 50%;
    overflow: hidden;
}


.profileChangeContainer {
    margin: 8%;
    align-content: center;
}
.profilePicLarge button {
    width: 20%;
}

.profileChange {
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
    align-content: space-between;
}

#EditUserInfoTitle{
    padding-bottom: 3%;
}

.profileChange .changeBox {
    flex: 5;
    margin-top: 2px;
    display: grid;
    grid-area: center;
}
.profileChange .profileChangeButton {
    font-size: 18px;
    flex: 0.65;
    display: grid;
    grid-area: center;
    margin: 5px;
    margin-left: 15%;
    margin-top: 0px;
    height: auto;
    width: 30px;
    min-width: 10px;

}

.main .profile .deleteButton, .deleteButton {
   background-color: #4f3339;
}