* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.App .hero .page {
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - 100px);
}


.sideBarLeft {
  order: 1;
  flex: 40%;
}

.main {
  order: 2;
  flex: 60%;
  align-content: center;
  display: grid;
  grid-area: center;
  margin-left: 10px;
}
.surveysContainer, .comparisons, .surveyResults{
  order: 2;
  flex: 60%;
  align-content: center;
  margin: 2%;

}


button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.5px;
  /* background: #b5838d; */
  background: #e5989b;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e5e5e5; /*actual background*/
  display: flex;
}
.login .loginContainer h1 {
  font-size: 36px;
  letter-spacing: 1.5px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.login .loginContainer {
  border-radius: 10px;
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  /* 
    ellipse at right bottom,
    
    rgba(109, 104, 117, 1) 40%,
    rgba(181, 131, 141, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100% */

  /* rgba(181, 131, 141, 1) 0%,
    rgba(255, 255, 255, 0.9) 59%,
    rgba(109, 104, 117, 1) 100% */

  box-shadow: 0 50px 70px -20px rgba(229, 152, 155, 0.5);
}

.login .loginContainer .textbox {
  color: #6d6875;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: 2px solid rgba(109, 104, 117, 0.5);
  border-radius: 5px;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(109, 104, 117, 0.1);
  color: black;
  letter-spacing: 1px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 2px solid #e5989b;
  border-radius: 5px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: black;
}

.login .loginContainer .btnContainer p span {
  color: #e5989b;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.hoverChange:hover,
.login .loginContainer .btnContainer p span:hover {
  color: #b5838d;
}

.login .loginContainer .errorMsg,
.errorMsg {
  color: red;
  font-size: 16px;
}

.small {
  outline: none;
  font-size: 14px;
  background: white;
  color: #6d6875;
  letter-spacing: 1px;
  display: flex;
}

#showPassword {
  font-size: 14px;
  /* margin-left: 5px;
  margin-top: 3px; */
  margin-top: 3px;
  width: 5%;
  background: white;
  color: #6d6875;
  letter-spacing: 1px;
}

#fakeSpace {
  margin-left: 4px;
}

.agreePrivacyContainer {
  outline: none;
  font-size: 16px;
  background: white;
  color: black;
  letter-spacing: 1px;
  display: flex;
  padding-top: 20px;
}

#agreePrivacy {
  width: 5%;
  background: white;
  letter-spacing: 1px;
  margin-top: 4px;
  margin-left: 3px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
          ellipse at bottom,
          rgba(245, 245, 245, 1) 30%,
          rgba(255, 205, 178, 0.9) 90%,
          rgba(245, 245, 245, 0.9) 100%
  );
}

.hero nav {
  background: #fafafa;
  width: 100%;
  padding: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #6d6875;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #6d6875;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal_content {
  background-color: white;
  position: absolute;
} */

.popUpContainer {
  position: center;

  border-radius: 10px;
}

.modal .modal_content p{
  padding-bottom: .75em;
}

.modal .modal_content p h2{
  padding-top: .25em;
}

.modal {
  position: fixed;
  margin: auto;
  width: 50%;
  top: 25%;
  left: 25%;
  z-index: 1;
  height: 50%;
  /*background-color: rgba(0, 0, 0, 0.25);*/
  border-radius: 10px;
  overflow-y:auto;
}

.modal_content {
  background-color: white;
  position: absolute;
  margin: auto;
  width: 100%;
  padding: 8%;
  border-radius: 10px;
  border: 2px solid rgba(109, 104, 117, 0.5);
  box-shadow: 0 50px 20px -20px rgba(109, 104, 117, 0.4);
}

.close {
  color: Black;
  float: right;
}
